<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anzing.Controls.Win" version="1.0.0" targetFramework="net46" />
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net46" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net46" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net46" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net46" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net46" />
  <package id="Simplify.Resources" version="1.0.1" targetFramework="net46" />
  <package id="Simplify.Windows.Forms" version="1.0.0" targetFramework="net46" />
  <package id="UrhoSharp" version="1.9.67" targetFramework="net46" />
  <package id="UrhoSharp.WinForms" version="1.9.67" targetFramework="net46" />
</packages>